*{padding: 0;margin: 0;border: 0;}

*,
*:before
*:after { 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

hr{
    border: 0;

    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
    margin: 40px 0px;

    display: block;
}

.container{
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/*Заголовки*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../images/intro.jpg) center no-repeat;
    background-size: cover;
    -webkit-backdrop-size: cover;
}

.intro_title{
    font-size: 88px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #fff;
}

.intro_title:after{
    margin-bottom: 20px;
    content: "";
    width: 60px;
    height: 3px;
    display: block;
    background-color: #fff;
    margin: 45px auto ;

}

.intro_inner{
    text-align: center;
    max-width: 890px;
    width: 100%;
    margin: 0 auto;
}

/*CREATIVE TEMPLATE*/
.intro_suptitle{
    color: #fff;
    font-family: 'Kaushan Script', cursive;;
    font-size: 40px;
    margin-top: 40px;
   
}

.header{
        padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link{
    color: #fff;
    text-decoration: none;
    transition: color .2s  linear;
    display: inline-block;
    margin: 0px 15px;
}

.nav_link:hover{
    color: #fce38a;
}

/*Полоска*/
.nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    background-color: #fce38a;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav_link:hover:after{
    opacity: 1;
}
/*Кнопка*/
.button{
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding: 8px 30px;
    color: #fff;
    text-transform:uppercase;
    font-size: 15px;
    text-decoration: none;
    transition: .1s linear, color .1s linear;
    margin-bottom: 60px;
}

.button:hover{
    background-color: #fff;
    color: #333;
    
}

/*Слайдеры*/
.intro_slider{
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider_inner{
    display: flex;
    justify-content: space-between;
    
}

.slider_item{
    width: 23%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0px;
    border-top: 2px solid #fff;
    opacity: .7;
    position: relative;
}

.slider_item.active{
    opacity: 1;
}

.slider_item.active::before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;

}

.slider_num{
    font-size: 24px;
    font-weight: 700;
}

/*Section*/
.section{
    padding: 80px 0px;  
}

.section--devices{
    background: url(../images/devices-bg.jpg) center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    margin-bottom: 40px;
}

.section--gray{
    background-color: #ffffffd5;
}

.section--clients{
   background: #f5f5f5
   url("../images/clients-bg.jpg") center no-repeat;
}

.section--map{
    background: #e6e6e6
    url(../images/map-bg.jpg) center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    padding: 40px 0px;
}

.section_header{
    text-align: center;
    width: 100%;
    max-width: 950px;
    margin: 20px auto 50px;

}

.section_suptitle{
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;;
}

.section_title{
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section_title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;

    background-color: #f38181;
    margin: 30px auto;
}

.section_text{
    color: #999;
    font-size: 15px;
    
}

/*Card*/

.about{
    margin: 80px 0px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.about_item{
    width: 25.33333%;
    padding: 0 15px;
}

.about_item:hover .about_img img{
    opacity: .1;
}

.about_item:hover .about_img{
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_text{
    opacity: 1;
}



.about_img{
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}

.about_img img{
    transition: opacity .1s linear;
    display: block;
    max-width: 100%;
    height: auto;
}

.about_text{
    width: 100%;

    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate(0, -50%, 0);

    transition: opacity .3s linear;
}

/*STAT*/
.statistics{
    background-color: #95e1d3;
}

.stat{
    display: flex;
    flex-wrap: wrap;
}

.stat_item{
    flex: 1 1 0;
    text-align: center;
    border-left: 1px solid #e0d5bd;
    color: #fff;
    padding: 70px 25px;
}

.stat_item:last-child{
    border-right:1px solid #b5aea0; ;

}

.stat_count{
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10pxs;
}

.stat_text{
    font-size: 14px;
    text-transform: uppercase;
}

/*Services*/

.services{
    display: flex;
    flex-wrap: wrap;
}

.services_item{
    width: 23.33333%;
    position: relative;
    padding: 0 35px 30px 85px;
    margin-bottom: 30px;  
}

.services_item--border{
    border-bottom: 1px solid #e5e5e5;
}

.services_icon{
    position: absolute; 
    top: 0;
    left: 30px;
    z-index: 1;
}

.services_title{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services_text{
    font-size: 15px;
    color: #999;
}

/*Devices*/

.devices{
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    position: relative;
    bottom: -70px;
}

.devices_item {
    display: block;
    
}

.devices_item--iphone{
    position: absolute;
    bottom: -110px;
    right: 0;
    z-index: 1;
}

/*WE DO*/

.wedo{
    display: flex;
}

.wedo_item{
    width: 50%;
    
}

.wedo_item--photo{
    margin-left: 90px;
}

/*Accordion*/

.accordion_item{
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.accordion_item.active
.accordion_content{
    display: block;
}

.accordion_item.active
.accordion_header:after{
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion_item.active
.accordion_header{
    border-bottom: 1px solid #e5e5e5;
}

.accordion_item.third
.accordion_content{
    display: none;
}



.accordion_header{
    padding: 15px 20px 15px 65px;
    position: relative;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion_header:after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}

.accordion_icon{
    position: absolute;
    top: 23px;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.accordion_content{
    padding: 15px 20px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
    display: none;
}

.accordion_title{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/*Reviews*/

.reviews{
    padding: 0 110px;
    position: relative;
}

.reviews_item{
    padding-left: 245px;
    position: relative;
}

.reviews_text{
    color: #999;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 15px;
}

.reviews_author{
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;;
}

.reviews_author:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;

    background-color: #f38181;
}

.reviews_photo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    border-radius: 50%;
    border: 2px solid #95e1d3;
}


.reviews_btn{
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.reviews_btn:after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;

}

.reviews_btn--prev{
    left: 0;
    transform:  rotate(-45deg);
    
}

.reviews_btn--next{
    right: 0;
    transform:  rotate(135deg);
    
}


/*Team*/

.team{
    margin-top: 80px;
    display:flex;
    justify-content: space-around; 
}

.team_inner{
    background-color: #95e1d3;
    position: relative;
}

.team_item{
    width: 380px;
    
}

.team_inner:hover .team_img img{
    opacity: .1;
}

.team_inner:hover .team_img{
    transform: translate3d(-10px, -10px, 0);
}

.team_inner:hover .team_text{
    opacity: 1;
}



.team_img{
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}

.team_img img{
    transition: opacity .1s linear;
    display: block;
}

.team_text{
    width: 100%;

    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate(0, -50%, 0);

    transition: opacity .3s linear;
}

.team_info{
    margin-top: 15px;
    text-align: center;
}

.team_name{
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
}

.team_prof{
    color: #999;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}



/*Social*/

.social{
    display: flex;
    justify-content: center;
}

.social_item{
    padding: 10px;
    line-height: 1;
    width: 35px;
    height: 35px;

    background-color: #fce38a;
    border: 1px solid #f38181;

    text-decoration: none;
    color: #f38181;
    font-size: 30px;

    transition: background .1s
    linear, color .1s linear;
}

.social_item:hover{
    background-color: #f38181;
    color: #fff;
}

/*Logotypes*/

.logos{
    display: flex;
    justify-content: space-around;
}

/*Works*/

.works{
    display: flex;
}

.works_item{
    position: relative;

    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works_item:hover .works_img{
    opacity: 0.1;
}

.works_item:hover .works_info{
    opacity: 1;
}

.works_col{
    flex: 1 1 0;
}

.works_img{
    transition: opacity .2s linear;
    display: block;
    max-width: 100%;
    height: auto;
}

.works_info{
    width: 100%;

    text-align: center;
    color:#fff;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works_title{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
}

.works_text{
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

/*CLIENTS*/

.clients {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 70px;
   
}

.clients__item {
    width: 30%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.clients__prof {
    font-size: 15px;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.clients__text {
    font-size: 15px;
    color: #999;
}

.clients__text:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px 0;

    background-color: #f38181;
}

/*Blog*/

.blog{
    display: flex;
    justify-content: space-around;
}

.blog_item{
    width: 25%;
}

.blog_header{
    position: relative;
    margin-bottom: 14px;
}

.blog_photo{
    display: block;
    max-width: 100%;
    height: auto;
}

.blog_date{
    padding: 10px;

    background-color: #95e1d3;
    color: #fff;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    text-align: center;

    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
}

.blog_content{
    margin-bottom: 10px;
}

.blog_date-day{
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
}

.blog_title{
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.blog_title a{
    color: inherit;
    text-decoration: none;
}

.blog_title a:hover{
    text-decoration: underline;
}

.blog_text{
    font-size: 15px;
    color: #999;
}

.blog_footer{
    border-top: 1px solid #e5e5e5;
    padding-top: 14px;

    font-size: 15px;
    font-weight: 300;
    color: #999;
    font-style: italic;
}

.blog_stat_item{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.blog_stat_item i{
    color: #95e1d3;
}

/*Map*/

.map{
    text-align: center;
}

.map_title{
    color: #f38181;
    font-size: 24px;
    font-weight: 700;
}

.map_title a{
    color: inherit;
    text-decoration: none;
}

.map_title a:hover{
    text-decoration: underline;
}

.map_title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;

    background-color: #f38181;
    margin: 15px auto 0;
}

/*Footer*/

.footer{
    color: #b5aea0;
    padding-top: 65px;
}

.footer_inner{
    padding-bottom: 65px;
    display: flex;
    justify-content: space-around;
}

.footer_col--first{
    width: 33%;
}

.footer_col--second{
    width: 33%;
}

.footer_col--third{
    width: 26%;
}

.footer_logo{
    font-size: 46px;
    color: #ccc;
    font-weight: 700;

    margin-bottom: 30px;
}

.footer_text{
    margin-bottom: 30px;
    font-size: 15px;
    color: #999;
}

.footer_social{
    margin-bottom: 25px;
}

.footer_social-header{
    padding-bottom: 15px;
    font-size: 14px;
    color: #333;
    
    border-bottom: 1px solid #e5e5e5;
}

.footer_social-header b{
    font-size: 18px;
}

.footer_social-content{
    padding-top: 15px;

    color: #999;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.footer_social-content a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;


    color: #95e1d3;
    font-size: 20px;
}

.footer_title{
    margin: 30px 0;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
}

/*Subscribe*/

.subscribe{
    width: 100%;
    max-width: 380px;
}

.subscribe_input{
    height: 15px;
    border: 1px solid #e7e7e7;
    background: #fff;

    font-size: 15px;
    font-style: italic;
    color: #333;
    font-weight: 300;
    line-height: 1.1;

    padding: 12px;
    font-family: 'Montserrat', sans-serif;
}

.subscribe_input::placeholder{
    color: #cccccc;
}

.subscribe_button{
    font-family: 'Montserrat', sans-serif;
    background-color: #95e1d3;
    border: 0;
    cursor: pointer;

    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    padding: 12px 30px;
    height: 40px;

    transition: background .2s linear;
}

.subscribe_button:hover{
    background-color: #74c7b8;
}

/*Blogs*/


.blogs_item{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.blogs_img{
    width: 120px;
    height: 80px;
}

.blogs_content{
    padding-left: 20px;
}

.blogs_title:hover{
    text-decoration: underline;
}

.blogs_title{
    color: #333;
    max-width: 380px;
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: none;
}

.blogs_date{
    font-size: 13px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

/*Instagram*/

.insta{
    display: flex;
    flex-wrap: wrap;
    
}
.insta_item{
    width: 25.33333%;
}

.insta_item img{
    display: block;
}

/*Copyright*/

.copyright{
    border-top: 1px solid #afafaf;
    padding: 20px 0px;

    font-size: 14px;
    text-align: center;
    color: #333;
}

.copyright span{
    color: #f38181;
}



@media (max-width: 1230px) {

    /* Intro */
    .intro__suptitle {
        font-size: 52px;
    }

    .intro__title {
        font-size: 120px;
    }

}

@media (max-width: 990px) {

    /* Intro */
    .intro__suptitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 80px;
    }

    /* Stat */
    .stat {
       justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.33333%;
        padding-top: 30px;
        padding-bottom: 30px;

        border: 0;
    }

    .stat__item:last-child {
        border-right: 0;
    }

    /* Services */
    .services__item {
        width: 50%;
        padding-bottom: 0;
    }

    .services__item--border {
        border-bottom: 0;
    }

}

@media (max-width: 550px) {

    /* Nav */
    .nav {
        display: none;
    }


    /* Section */
    .section {
        padding: 40px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }


    /* Card */
    .card {
        margin-top: 50px;
        justify-content: center;
    }

    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0;
    }


    /* Slider */
    .slider__text {
        display: none;
    }

    .slider__item.active:before {
        width: 50%;
    }

    /* Services */
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        padding-right: 0;
    }

    .services__icon {
        left: 0;
    }


    /* Wedo */
    .wedo__img {
        display: none;
    }

    .wedo__item {
        width: 100%;
    }
}


@media (max-width: 350px) {

    /* Intro */
    .intro__suptitle {
        font-size: 22px;
    }

    .intro__title {
        font-size: 40px;
    }

    /* Section */
    .section__header {
        margin-bottom: 50px;
    }

    .section__suptitle {
        font-size: 20px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__title:after {
        margin: 20px auto;
    }

    /* Stat */
    .stat__item {
        width: 100%;

        border-bottom: 1px solid #b5eae0;
    }

    .stat__item:last-child {
        border-bottom: 0;
    }

    .stat__count {
        font-size: 52px;
    }


    /* Devices */
    .devices {
        max-width: 320px;
    }

    .devices__item--iphone {
        width: 180px;
        bottom: -50px;
        right: -80px;
    }

}

 
 
 